<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="https://forum.monero.space/">Forum</a></li>
				<li><a href="https://monero.space/calendar">Calendar</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
					<li><a href="mailto:info@monero.space">email</a></li>
					<li><a href="https://github.com/MoneroSpace">github</a></li>
					<li><a href="https://twitter.com/MoneroSpace">twitter</a></li>
					<li><a href="https://www.youtube.com/c/MoneroSpaceWorkgroup">youtube</a></li>
					<li><a href="https://wyobiz.wyo.gov/Business/FilingDetails.aspx?eFNum=148182127005251116092123125219038058020252005207">organization docs</a></li>
				</ul>
			</footer>
		</body>
	</html>
